.header-flat form {
  margin: 20px 0;
  margin-right: 0;
  background: $gray-white;
  padding: 15px;
  border-radius: 3px;
}
.header-flat-details {
    display: flex;
    align-items: center;
    padding: 30px;
    padding-left: 0;
}
.header-flat-owner{
  padding:20px;
}
